.no-data-container{
    height: 100%;
    width:  100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.no-data-notify{
    margin-bottom:100px;
    font-weight: bold;
    font-size: 50px;
}