.addLinkModel {
    color: #CFCFCF;
    text-decoration: underline;
    float: right;
}
.profile-info-value{
	position: relative;
}
.profile-info-value .fa.fa-icon.orange.preview-icon{
	position: absolute;
    left: 15px;
    top: 5px;
    font-size: 20px;
}
.profile-info-value input.icon-editor{
	margin-left: 40px;
    width: 150px;
}
.progress-lines{
    float: right;
    font-size: 18px;
    font-weight: bold;
}
.progress-message{
    padding: 10px;
    border: 1px solid #FAFAFA;
    float: left;
    color: gray;
    width: 90%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.nav-tabs>li{
    padding: 0px;
    margin:0px;
}
.wysiwyg-toolbar ul.nav-tabs{
    display: inline-block;
    vertical-align: bottom;
}
.nav-tabs>li>a.toolbar-tab,.nav-tabs>li>a.toolbar-tab:hover{
    border-top-color: transparent;
    border-bottom-color: transparent;
    background-color: #eee!important;
    padding: 7px 7px 5px;   
}
.nav-tabs>li>a.toolbar-tab:hover{
    border-bottom-color: transparent;
    background-color: #F5F5F5!important;
    padding: 7px 7px 5px;   
}
.nav-tabs>li.active>a.toolbar-tab{
    border-bottom-color: transparent;
    background-color: #FFF!important;
    padding: 7px 7px 5px;   
}
.nav-tabs>li.active>a.toolbar-tab, .nav-tabs>li.active>a.toolbar-tab:focus, .nav-tabs>li.active>a.toolbar-tab:hover{
    border-top-color:#4c8fbd;
    color:#4c8fbd;
}
.wysiwyg-toolbar.btn-toolbar.toolH{
    -webkit-box-shadow: 0px 1px 0px 0px rgba(207,207,207,1);
    -moz-box-shadow: 0px 1px 0px 0px rgba(207,207,207,1);
    box-shadow: 0px 1px 0px 0px rgba(207,207,207,1);
}
a.btn.btn-sm.btn-white.dropdown-toggle,a.btn.btn-sm.btn-white.btn-primary.dropdown-toggle,.wysiwyg-toolbar.toolH .btn-group>.btn.dropdown-toggle, .wysiwyg-toolbar.toolH .btn-group>.inline>.btn.dropdown-toggle{
	    vertical-align: middle;
    margin-top: 2px;
}