td.removed_by_filter.customreport{
	color:#A3A3A3!important;
	background-color: #F9F9FB!important;
}
div.params_form{
	border:1px solid #CFCFCF;
	padding: 10px;
}
.switch-with-text{
	position: relative;
}
.switch-with-text>.switch-text{
	position: absolute;	
    white-space: nowrap;
    top: 5px;	
}
.switch-with-text.changed, div.select label.changed{
	color:orange!important;
}
input[type=checkbox].ace.ace-switch.ace-switch-6:checked+.lbl::before{
	background-color: #00486B;
}
.accordion-link{
	line-height: 30px;
    text-decoration: none;
    color: #555555;
    background: white;
    width: 100%;
    display: block;
    padding-left: 15px;
}
.accordion-link:hover{
	background: #F0F4F8;
    text-decoration: none;
    color: #555555;
}
.accordion-link.selected{
	color: #F68429;
}