.adminpage .wysiwyg-toolbar.btn-toolbar.toolH{
	position: fixed;
	width: 100%;
	top: 86px;
}
.adminpage .bottomPannel{
	position: fixed;
	width: 100%;
}
.adminpage .adminbody{
	margin-top:35px;
}