ul.dropdown-menu li{
    cursor: pointer;
}
ul.dropdown-menu a, ul.dropdown-menu.pull-right a span{
    font-weight: 400;
    color: #333;
    text-decoration: none;
}
li.active-bold a, ul.dropdown-menu.pull-right li.active-bold a span{
	font-weight: 600!important;
}