table.updateFormula td{
    cursor: pointer;
}
table.updateFormula del {
    opacity:.5;
}
table.updateFormula ins {
    color: green;
    text-decoration: none;
}
table.updateFormula td.as_old ins{
    display: none;
}
table.updateFormula td.as_old del{
   background: none!important;
   text-decoration:none!important;
   opacity: 1;
}
table.updateFormula td.as_new del{
    display: none;
}
table.updateFormula td.as_new ins{
    color: initial!important;
}

table.updateFormula td.as_new:after{
    content: 'Новый вариант';
    position: absolute;
    background: green;
    color: white;
    padding: 2px;
    right: 100px;
}

table.updateFormula td.as_old:after{
    content: 'Старый вариант';
    position: absolute;
    background: maroon;
    color: white;
    padding: 2px;
    right: 100px;
}
