.no-skin .nav-list>li .submenu>li.active:not(.open)>a{
	background-color: #E2E7E9;
}
li i.fa.fa-icon.fa-circle.fa-dot.left-block-icon{
	color:orange;
}
.fa.fa-icon.fa-circle.fa-dot.left-block-icon.red{
	color: #ff2600!important;
}