.nav-tabs>li>a.toolbar-tab,.nav-tabs>li>a.toolbar-tab:hover{
	border-color: transparent; 
	background-color: #eee!important;
	color: #999;
    padding: 7px 7px 5px;	
}
.nav-tabs>li.active>a.toolbar-tab, .nav-tabs>li.active>a.toolbar-tab:focus, .nav-tabs>li.active>a.toolbar-tab:hover{
	border-top-color:#4c8fbd;
	background-color: #FFF!important;
}
	